*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    columns: 5;
    column-gap: 15px;
    padding: 15px;
    /* position: absolute;
    display: block; */
}
.container:hover{
    cursor: pointer;
}

img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}
.nav{
    text-decoration: none;
    list-style: none;
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
}
.logo{
    margin-top: 23px;
    padding: 10px;
    
}
.text{
    margin-right: 15px;
    margin-top: 23px;
    color: white; 
    background-color: black;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
}
.dropdown{
    margin-top: 35px;
    font-style: 18px;
    font-weight: 700px;
    margin-right: 20px;
}
.search{
    justify-content: center;
    margin-right: 20px;
    margin-top: 23px;
    height: 50px;
    width: 900px;
    background-color: rgb(230, 227, 227);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.fa-solid{
    color: rgb(146, 145, 145);
    font-size: 15px;
    padding: 10px;
    display: flex;
    justify-content: start;
}
.input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: rgb(230, 227, 227);
}
.notification{
    margin-right: 10px;
}
.fa-bell{
    margin-top: 23px;
    font-size: 25px;
}
.comment{
    margin-right: 10px;
    color: rgb(146, 145, 145);;
}
.fa-comment-dots{
    margin-top: 33px;
    font-size: 25px;
}
.profile{
   
    margin-top: 30px;
    font-size: 25px;
}
.fa-angle-down{
    display: flex;
    color: black;
    font-size: 18px;
    margin-top: 25px;
}
.btn1{
    font-size: 20px;
    font-weight: 900px;
    color: black;
    text-decoration: none;
    background-color: #fff;
    border-radius:  20px;
    border: #fff;
    height: 50px;
}
.dropdown-item{
    font-weight: 700px;
}
.dropdown-item:hover{
    background-color: rgb(194, 194, 194);
}
li{
    list-style: none;
}
.text1{

    color: white; 
    background-color: red;
    height: 50px;
    width: 70px;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
}

/* .content{
width: 100%;
height: 100%;
top: 0;
left: 0;
position: absolute;
background: rgba(0, 0, 0, 0.6);
display: flex;
flex-direction: column;
opacity: 0;
transition: 0.6s;
}
.content:hover{
    opacity: 1;
} */